@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

#vid-container {
    position: relative;
}

.vid {
    z-index: 0;
    width: 100%;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.vid::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

#controls {
    display: flex;
    flex-direction: row;

    opacity: 0;
    color: white;
    z-index: 1;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    position: absolute;
    right: 20px;
    bottom: 20px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    transition-delay: .5s;
}

#play,
#fullscreen:hover {
    cursor: pointer;
}