@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
    margin: 0;
    padding: 0;
}

#vid-container {
    position: relative;
}

.vid {
    z-index: 0;
    width: 100%;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.vid::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

#controls {
    opacity: 0;
    z-index: 1;
    position: absolute;
    right: 36px;
    bottom: 36px;
    white-space: nowrap;
    color: white;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    transition-delay: .5s;
}

#play,
#fullscreen:hover {
    cursor: pointer;
}

#play {
    position: absolute;
    right: 2px;
}

#fullscreen {
    position: absolute;
}